 <!--messages before loading and if a observable has an error?-->
 <div *ngIf="refreshing; then thenBlock"></div>
 <!--if else blocks, their positon is irrelevant as they will be put in the div above-->
 <ng-template #thenBlock>
    <div>Fetching data</div>
    </ng-template>

    <div *ngIf="hasError; then thenErrorBlock"></div>
 <!--if else blocks, their positon is irrelevant as they will be put in the div above-->
 <ng-template #thenErrorBlock>
    <h2 style="color:red">Oupsies</h2>
    </ng-template>

<div>
    <app-book-list *ngFor="let book of book-list" [book]="bookData"></app-book-list>
  </div>
